<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
<h2>{{title}}</h2>
<p>Hi {{userName}},</p>
<p>{{{message}}}</p>
<p>We're excited to have you on board!</p>
<hr>
<p><strong>{{appName}}</strong> Team</p>
</body>
</html>
